anyio==3.5.0
asgiref==3.5.0
click==8.1.2
fastapi==0.75.1
h11==0.13.0
idna==3.3
numpy==1.22.3
pandas==1.4.2
pydantic==1.9.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1
uvicorn==0.17.6
